.about {
  display: flex;
  gap: 4rem;
}

.isMobile {
  flex-direction: column-reverse;
}

.image {
  display: flex;
  align-items: center;
}

.centerImage {
  justify-content: center;
}

img {
  max-height: 20rem;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 1s;
  &:hover {
    filter: unset;
    scale: 1.1;
    animation: filter 1s;
  }
}
