nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
  padding-block: 1rem;
  gap: 1rem;
  box-sizing: unset;
}
.title {
  align-items: center;
}
.links {
  align-items: center;

  display: flex;
  gap: 2rem;
  color: var(--textColor);

  a {
    text-decoration: none;
    color: unset;
    &:visited {
      color: var(--textColor);
    }
    &:hover {
      color: var(--pink);
    }
  }
}

i {
  &:hover {
    color: var(--pink);
    cursor: pointer;
  }
}
