<div class="dialog" (click)="onOutsideDialogClick()">
  <div
    class="dialogContent"
    [ngClass]="{ compactScreen: compactScreen }"
    (click)="onDialogClick($event)"
    [style.background-color]="bgColor"
    [style.color]="color"
  >
    <div class="title">
      <div>
        <b>{{ project.name }}</b>
      </div>
      <div class="xmark" (click)="closeDialog()">
        <i class="fa-solid fa-xmark"></i>
      </div>
    </div>
    <div class="content">
      <img [src]="project.image" [alt]="project.name" />
      <h3>
        {{ "my_role" | translate }} <b>{{ project.role }}</b>
      </h3>
      <h1>{{ project.description }}</h1>

      <h2>{{ "tools" | translate }} {{ project.tools }}</h2>
      <h4>
        {{ "check_out_on" | translate }}
        <a [href]="project.link" target="_blank">{{ "github" | translate }}</a>
      </h4>
    </div>
  </div>
</div>
