* {
  transition: border 500ms ease-out;
  color: var(--textColor);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  padding: 1rem;
  border-radius: 8px;
  gap: 1rem;
}

.valid {
  border: 1px solid green;
}
.touched {
  border: 1px solid red;
}

.field {
  display: flex;
  flex-direction: column;
  width: 100%;
  textarea {
    resize: none;
    min-height: 50px;
  }
  input,
  textarea {
    background-color: var(--bgColor);
    color: var(--textColor) !important;
    border-radius: 8px;
    padding: 0.5rem;
    border: 1px solid transparent;
    &.invalid {
      border: 1px solid red;
    }
    &:focus,
    &.valid {
      border: 1px solid green;
      outline: 1px solid green;
    }
  }
  .emptySpan {
    line-height: normal;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
  color: #fff !important;
}
