* {
  transition: border 500ms ease-out;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  padding: 1rem;
  border-radius: 8px;
  gap: 1rem;
  // transition: border 500ms ease-out;
}

.valid {
  border: 1px solid green;
}
.touched {
  border: 1px solid red;
}

.field {
  display: flex;
  flex-direction: column;
  width: 100%;
  textarea {
    resize: none;
    min-height: 50px;
  }
  input,
  textarea {
    background-color: #10172d;
    color: #fff !important;
    border-radius: 8px;
    padding: 0.5rem;
    border: 1px solid transparent;
    &.invalid {
      border: 1px solid red;
    }
    &:focus,
    &.valid {
      border: 1px solid green;
      outline: 1px solid green;
    }
  }
  .emptySpan {
    line-height: normal;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
  color: #fff !important;
}
.bn5 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.bn5:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bn5:active {
  color: #000;
}

.bn5:active:after {
  background: transparent;
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #191919;
  left: 0;
  top: 0;
  border-radius: 10px;
}
