<h1>
  <div class="line">
    <span> {{ "hello" | translate }}, </span>
  </div>
  <div class="line">
    <span>{{ "this_is" | translate }} </span>
    <span class="pink">Maciej </span>
    <span class="pink">Mościcki</span>
    <span>, </span>
    <span>{{ "i_am" | translate }} </span>
    <span></span>
    <span>{{ "professional" | translate }} </span>
    <span class="green">{{ "software" | translate }} </span>
    <span class="green">{{ "developer" | translate }} </span>
  </div>
</h1>
<app-button
  [text]="'download_cv' | translate"
  icon="fa-solid fa-download"
  [link]="link"
></app-button>
