<div class="terminalBig">
  <div class="terminalHeader">
    <div class="dot redBg"></div>
    <div class="dot yellowBg"></div>
    <div class="dot greenBg"></div>
  </div>
  <div class="divider"></div>
  <div class="terminalContent" [ngClass]="{ mobile: isMobile }">
    <div class="line">
      <span class="pink">const&nbsp;</span>
      <span class="textColor">coder&nbsp;</span>
      <span class="pink">=&nbsp;</span>
      <span class="gray">{{ "{" }}</span>
    </div>
    <div class="line indent">
      <span class="textColor"> name: </span>
      <span class="gray">'</span>
      <span class="thirdColor">Maciej Mościcki</span>
      <span class="gray">'</span>

      <span class="gray">,</span>
    </div>
    <div class="line indent">
      <span class="textColor">skills: </span>
      <span class="gray">[&nbsp;</span>
      @for (item of skills; track $index) {
      <span class="gray">'</span>
      <span class="thirdColor">{{ item }}</span
      ><span *ngIf="$index !== skills.length - 1" class="gray"
        >{{ "'," }}
      </span>
      <span *ngIf="$index === skills.length - 1" class="gray">{{ "'" }} </span>
      }
      <span class="gray">]</span>
      <span class="gray">,</span>
    </div>
    <div class="line indent">
      <span class="textColor"> hardWorker: </span>
      <span class="orange">true</span>
      <span class="gray">,</span>
    </div>
    <div class="line indent">
      <span class="textColor"> quickLerner: </span>
      <span class="orange">true</span>
      <span class="gray">,</span>
    </div>
    <div class="line indent">
      <span class="textColor"> problemSolver: </span>
      <span class="orange">true</span>
      <span class="gray">,</span>
    </div>
    <div class="line indent">
      <span class="green"> hireable: </span>
      <span class="orange">function</span>
      <span class="gray">{{ "() {" }}</span>
      <div class="line indent">
        <span class="orange">return </span>
        <span class="gray">{{ "(" }}</span>
        <div class="line indent">
          <span class="blue">this.</span>
          <span class="textColor">hardworker&nbsp;</span>
          <span class="thirdColor">{{ "&&" }}</span>
        </div>
        <div class="line indent">
          <span class="blue">this.</span>
          <span class="textColor">problemSolver&nbsp;</span>
          <span class="thirdColor">{{ "&&" }}</span>
        </div>
        <div class="line indent">
          <span class="blue">this.</span>
          <span class="textColor">skills.length&nbsp;</span>
          <span class="thirdColor">{{ ">= " }}</span>
          <span class="orange">5</span>
        </div>
      </div>
      <div class="line indent">
        <span class="gray">{{ ")" }}</span>
      </div>
    </div>
    <div class="line indent">
      <span class="gray">{{ "}" }}</span>
    </div>
    <span class="gray">{{ "}" }}</span>
  </div>
</div>
