:root {
  --pink: #ec4899;
  --red: red;
  --green: green;
  --yellow: #fcd34d;
  --yellowBg: yellow;
  --white: white;
  --gray: gray;
  --orange: #fb9236;
  --lightGreen: #4ade80;
  --blue: #22d3ee;
  --accent-gradient: linear-gradient(to bottom right, black, #272822);
  --colorTheme: dark;
  --background: linear-gradient(88deg, #000000, #0c1124);
  --bgColor: #10172d;
  --textColor: white;
  --cardColor: rgba(255, 255, 255, 0.02);
  --thirdColor: var(--yellow);
  color-scheme: var(--colorTheme);
}
.no-scroll {
  overflow: hidden;
}
app-root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
html {
  scroll-behavior: smooth;
}
body {
  transition: color 1s, background 1s;
  background: var(--background);
  background-size: 400% 400%;
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  padding: 0;
  margin: 0;
  color: white;
  padding: 0;
  padding-inline: 2rem;
  margin: 0;
}

body {
  min-height: 100vh;
}

.invertColor {
  filter: invert(1) !important;
}
.red {
  color: var(--red) !important;
}
.redBg {
  background-color: var(--red) !important;
}
.greenBg {
  background-color: var(--green) !important;
}
.yellow {
  color: var(--yellow) !important;
}
.yellowBg {
  background-color: var(--yellow) !important;
  color: black !important;
}
.pink {
  color: var(--pink) !important;
}
.white {
  color: var(--white) !important;
}
.textColor {
  color: var(--textColor) !important;
}
.gray {
  color: var(--gray) !important;
}
.orange {
  color: var(--orange) !important;
}
.green {
  color: var(--lightGreen) !important;
}
.blue {
  color: var(--blue) !important;
}
.thirdColor {
  color: var(--thirdColor);
}
.largeText {
  font-weight: 1000;
  font-size: larger;
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes bg {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}
@-moz-keyframes bg {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}
@keyframes bg {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}
