button {
  display: none;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  color: var(--pink);
  transition: 0.25s;
  position: fixed;
  bottom: 50px;
  right: 20px;
  transition: opacity 0.3s ease;
  opacity: 0;
  z-index: 1000;
  &:hover,
  &:focus {
    cursor: pointer;
    border-color: var(--yellow);
    color: black;
  }
}

.scroll-top-btn.show {
  display: block;
  animation: appear 0.3s ease;
  opacity: 1;
}

.offset {
  box-shadow: 0.3em 0.3em 0 0 var(--pink), inset 0.3em 0.3em 0 0 var(--pink);
  transition: box-shadow 0.2s linear;
  &:hover,
  &:focus {
    box-shadow: 0 0 0 0 var(--yellow), inset 6em 3.5em 0 0 var(--yellow);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
