#experience {
  min-height: 20px;
  display: flex;
}
.half {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.image {
  display: flex;
  align-items: center;
}

.innerCard {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
img {
  max-height: 20rem;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 2s;
  &:hover {
    filter: unset;
    scale: 1.1;
    animation: filter 1s;
  }
}

h3,
h4,
h5 {
  margin: 0;
  text-align: center;
}
